<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title"
        content="XEMBONG365 - TIN TỨC  - TRỰC TIẾP BÓNG ĐÁ FULL HD MIỄN PHÍ">
    <meta name="description" content="XEMBONG365 - TRỰC TIẾP BÓNG ĐÁ FULL HD HÔM NAY - KHÔNG GIẬT LAG - KHÔNG QUẢNG CÁO - BL TIẾNG VIỆT - XEMBONG365 xoilac,cakhia,xembd,vebo,90phut,VTV6,VTC,K+">
    <meta itemprop="name"
        content="XEMBONG365 - TIN TỨC - TRỰC TIẾP BÓNG ĐÁ FULL HD MIỄN PHÍ">
    <meta itemprop="description" content="XEMBONG365 - TRỰC TIẾP BÓNG ĐÁ FULL HD HÔM NAY - KHÔNG GIẬT LAG - KHÔNG QUẢNG CÁO - BL TIẾNG VIỆT - XEMBONG365 xoilac,cakhia,xembd,vebo,90phut,VTV6,VTC,K+">
    <meta name="keywords" content="xembong365,xem365,xem bong 365,xem bóng,xem bóng đá,365,tin tức bóng đá,tintucbongda,tintuc365,tin tức 365,tintuc,tin tức">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:title"
        content="XEMBONG365 - TRỰC TIẾP BÓNG ĐÁ FULL HD MIỄN PHÍ">
    <meta property="og:description" content="XEMBONG365 - TRỰC TIẾP BÓNG ĐÁ FULL HD HÔM NAY - KHÔNG GIẬT LAG - KHÔNG QUẢNG CÁO - BL TIẾNG VIỆT - XEMBONG365 xoilac,cakhia,xembd,vebo,90phut,VTV6,VTC,K+">
    <meta property="og:url" content="https://xembong365.com/tin-tuc">
    <meta property="og:site_name" content="xembong365">
    <meta property="og:image" content="https://xembong365.com/img/ronaldo-messi.jpeg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="XEMBONG365 - TRỰC TIẾP BÓNG ĐÁ FULL HD - KHÔNG QC - BL TIẾNG VIỆT">
    <meta name="twitter:description" content="XEXEMBONG365 - TRỰC TIẾP BÓNG ĐÁ FULL HD HÔM NAY - KHÔNG GIẬT LAG - KHÔNG QUẢNG CÁO - BL TIẾNG VIỆT - XEMBONG365 xoilac,cakhia,xembd,vebo,90phut,VTV6,VTC,K+">
    <meta name="twitter:site" content="@xembong365com">
    <meta name="twitter:creator" content="@xembong365com">
    <meta name="twitter:image" content="https://xembong365.com/img/ronaldo-messi.jpeg" >
    <meta name="twitter:label1" content="Written by">
    <meta name="twitter:data1" content="Tien Dung Bui">
    <meta name="twitter:label2" content="Time to read">
    <meta name="twitter:data2" content="Less than a minute">
    <link rel="canonical" href="https://xembong365.com/tin-tuc">
    <meta name="robots" content="INDEX,FOLLOW">
    <title>XEMBONG365.COM - TIN TỨC - TRỰC TIẾP BÓNG ĐÁ FULL HD MIỄN PHÍ</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" as="style" 
    onload="this.onload=null;this.rel='stylesheet'" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preload" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" as="style" 
    onload="this.onload=null;this.rel='stylesheet'" integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap" as="style" 
    onload="this.onload=null;this.rel='stylesheet'">

    <noscript>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"
        integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap" rel="stylesheet"> 
    </noscript>

    <link rel="stylesheet" media href="/css/main.css">

    <style>
        .footer{
            position: fixed ;
            z-index: 1000;
        }
    </style>
    
</head>

<body>
    <div id="root" class="g-0 container-fluid">
        <%- include('../partials_view/header.html') -%>
        <div class="middle row g-0" style="max-height: 3000px;">
            <%- include('../partials_view/left_side.html') -%>
            <!--  -->
            <div class="col-xl-9 h-100 middle_right">
                <%- include('../partials_view/banner.html') -%>
                <!--  -->
                <% if(posts) { %>
                  <h2 class="ms-3 my-4 fw-bolder fs-6">Tin Tức</h2>
                  <div class="m_r-squad d-flex flex-wrap mt-5 justify-content-evenly">
                      <% posts.forEach( (post,index) => { %>
                      <% let slug = removeAccents(post.title.toLowerCase().replace(/ /gi, '-')) %>
                      <% function removeAccents(str) { %>
                      <%    return str.normalize('NFD').replace(/[\u0300-\u036f]/g, '').replace(/đ/g, 'd').replace(/Đ/g, 'D') %>
                      <%}%>
                      <div class="card_squad shadow text-center d-flex flex-column justify-content-evenly" style="height:370px;">
                              <h1 class=" m_card-title fw-bolder my-0 mx-3" style="font-size:14px;">
                                  <%=post.title%>
                              </h1>
                              <img src="<%=post.banner%>"
                              style="border-radius: 2%;opacity: 0.9; width: 253px;height: 142.3px;background-size: contain;" class="align-self-center"
                              alt="<%=slug%>">
                              <p class="card-text mx-3 my-0" style="font-size:14px; text-align: justify;">
                                  <%=post.summary%>
                              </p>
                              <a style="color:inherit;text-decoration: none;" href="/tin-tuc/<%=slug%>?id=<%=post._id%>">
                                <button type="button" class="btn banner_btn-watch btn-sm fw-bolder px-2 py-1">
                                    Watch Now
                                </button>
                            </a>
                      </div>
                      <%})%>             
                  </div>
                <%}%>
                <!--  -->
                <%- include('../partials_view/bottom.html') -%>
            </div>
            <%- include('../partials_view/footer.html') -%>
        </div>
        <div class="footer d-flex justify-content-evenly">
            <h2 class="footer_titile"> <i class="fa-brands fa-bilibili pe-2"></i>Thoả mãn đam mê thể thao cùng <img src="/img/logo-trong-suot.png" class="mt-1" width="100" height="18"></h2>
            <div class="footer_community">
                <a href="https://www.facebook.com/xembong365com" class="footer_community-icon"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.tiktok.com/@xembong365_com" class="footer_community-icon"><i class="fa-brands fa-tiktok"></i></a>
                <a href="https://www.youtube.com/channel/UCMY2Ys2P0QbolntVyAsHWWw" class="footer_community-icon"><i class="fa-brands fa-youtube"></i></a>
                <a href="https://www.instagram.com/xembong365_com" class="footer_community-icon"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <h2 class="footer_titile d-sm-none d-lg-inline-block"> <i class="fa-regular fa-envelope pe-2"></i> Contact
                Ads - Support : contact@xembong365.com</h2>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js_client/validateUser.js"></script>
    <script src="/js_client/banner.js"></script>
    <script src="/js_client/matchesStatus.js"></script>
    <script src="//images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>