<div class="footer d-flex justify-content-evenly">
    <h2 class="footer_titile"> <i class="fa-brands fa-bilibili pe-2"></i>Thoả mãn đam mê thể thao cùng <img src="/img/logo-trong-suot.png" class="mt-1" width="100" height="18"></h2>
    <div class="footer_community">
        <a target="_blank" href="https://www.facebook.com/xembong365com" class="footer_community-icon"><i class="fa-brands fa-facebook"></i></a>
        <a target="_blank" href="https://www.tiktok.com/@xembong365.com" class="footer_community-icon"><i class="fa-brands fa-tiktok"></i></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCMY2Ys2P0QbolntVyAsHWWw" class="footer_community-icon"><i class="fa-brands fa-youtube"></i></a>
        <a target="_blank" href="https://www.instagram.com/xembong365_com" class="footer_community-icon"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <h2 class="footer_titile d-sm-none d-lg-inline-block"> <i class="fa-regular fa-envelope pe-2"></i> Contact
        Ads - Support : contact@xembong365.com</h2>
</div>