<!DOCTYPE html>
<html lang="vi">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title"
        content="XEMBONG365 - <%=match.team1.fullName%> VS <%=match.team2.fullName%> - TRỰC TIẾP BÓNG ĐÁ FULL HD">
    <meta name="description" content="XEMBONG365 - <%=match.team1.fullName%> VS <%=match.team2.fullName%> - TRỰC TIẾP BÓNG ĐÁ FULL HD HÔM NAY - KHÔNG GIẬT LAG - KHÔNG QUẢNG CÁO - BL TIẾNG VIỆT">
    <meta itemprop="name"
        content="XEMBONG365 - TRỰC TIẾP BÓNG ĐÁ FULL HD - KHÔNG QUẢNG CÁO - BL TIẾNG VIỆT ">
    <meta itemprop="description" content="XEMBONG365 - <%=match.team1.fullName%> VS <%=match.team2.fullName%> - TRỰC TIẾP BÓNG ĐÁ FULL HD HÔM NAY - KHÔNG GIẬT LAG - KHÔNG QUẢNG CÁO - BL TIẾNG VIỆT">
    <meta name="keywords" content="xembong365,xem365,xem bong 365,xem bóng,xem bóng đá,xembong,xem bong,xem bóng đá trực tiếp,trực tiếp bóng đá,tructiepbongda ,365">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:title"   
        content="XEMBONG365 - <%=match.team1.fullName%> VS <%=match.team2.fullName%> - TRỰC TIẾP BÓNG ĐÁ FULL HD">
    <meta property="og:description" content="XEMBONG365 - <%=match.team1.fullName%> VS <%=match.team2.fullName%> - TRỰC TIẾP BÓNG ĐÁ FULL HD HÔM NAY - KHÔNG GIẬT LAG - KHÔNG QUẢNG CÁO - BL TIẾNG VIỆT">
    <meta property="og:site_name" content="xembong365">
    <meta property="og:image" content="https://xembong365.com/img/ronaldo-messi.jpeg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="XEMBONG365 - TRỰC TIẾP BÓNG ĐÁ FULL HD - KHÔNG QC - BL TIẾNG VIỆT">
    <meta name="twitter:description" content="XEXEMBONG365 - TRỰC TIẾP BÓNG ĐÁ FULL HD HÔM NAY - KHÔNG GIẬT LAG - KHÔNG QUẢNG CÁO - BL TIẾNG VIỆT - XEMBONG365 xoilac,cakhia,xembd,vebo,90phut,VTV6,VTC,K+">
    <meta name="twitter:site" content="@xembong365com">
    <meta name="twitter:creator" content="@xembong365com">
    <meta name="twitter:image" content="https://xembong365.com/img/ronaldo-messi.jpeg" >
    <meta name="twitter:label1" content="Written by">
    <meta name="twitter:data1" content="Tien Dung Bui">
    <meta name="twitter:label2" content="Time to read">
    <meta name="twitter:data2" content="Less than a minute">
    <meta name="robots" content="INDEX,FOLLOW">
    <title>XEMBONG365 - <%=match.team1.fullName%> VS <%=match.team2.fullName%> - TRỰC TIẾP BÓNG ĐÁ FULL HD</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


    <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" as="style" 
    onload="this.onload=null;this.rel='stylesheet'" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preload" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" as="style" 
    onload="this.onload=null;this.rel='stylesheet'" integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap" as="style" 
    onload="this.onload=null;this.rel='stylesheet'">

    <noscript>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"
        integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap" rel="stylesheet"> 
    </noscript>
    <link rel="stylesheet" media href="/css/live.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W56TC0YV1Q"></script>
</head>

<body>
    <div id="root" class="g-0 container-fluid">
        <!--  -->
        <%- include('../partials_view/header.html') -%>
        <!--  -->
        <div class="middle row g-0">
            <div class="col-xl-3 h-100 middle_left">
                    <div class="d-flex flex-column">
                            <div class="m-2 fw-bolder text-center" style="text-decoration: underline ; color:#000">
                                <span class="m_l-heading">
                                    Danh sách phát
                                </span>
                                <button class="l_i-close animate-flicker d-sm-none d-xl-inline-block">
                                    <i class="fa-solid fa-angles-left"style="font-size:10px;"></i>
                                </button>
                            </div>
                        <% matchesAvaiableStream.forEach( (match)=> { %>
                            <% let fullName1 = removeAccents(match.team1.fullName.toLowerCase().replace(/ /gi, '-')) %>
                            <% let fullName2 = removeAccents(match.team2.fullName.toLowerCase().replace(/ /gi, '-')) %>
                            <% function removeAccents(str) { %>
                            <%    return str.normalize('NFD').replace(/[\u0300-\u036f]/g, '').replace(/đ/g, 'd').replace(/Đ/g, 'D') %>
                            <%}%>
                            <% let slug = `truc-tiep-${fullName1}-vs-${fullName2}` %>
                            <% let convertTime = new Date(match.timer).getTime()%>
                            <% let timer =  new Date(convertTime).toLocaleString() %>
                            <% let date = timer.split(', ')[1] %>
                            <% let time = timer.split(', ')[0].slice(0,5)%>
                            <% let score = `${match.team1.score} - ${match.team2.score}` %>
                        <span class="m_l-blv fw-bolder text-center my-1
                                <%=`finished_${match.stream.status.finished}`%> ">
                                <%=match.commentator.userId%>
                        </span>
                        <a href="/truc-tiep/<%=slug%>?id=<%=match._id%>"
                            class="text-decoration-none text-center fw-bolder m-l_live 
                            <%=`begining_${match.stream.status.begining}`%>
                            <%=`finished_${match.stream.status.finished}`%>
                            <%=`comming_${match.stream.status.comming}`%> " >
                                <div class="p-2 m_l-i d-flex justify-content-evenly">
                                    <span class="left_schedule-team1">
                                        <span class="left_schedule-name1" style="font-size: 14px;">
                                            <%=match.team1.shortName%>
                                            <img src="<%=match.team1.logo%>" class="logo ms-2" alt="<%=slug%>" width="25" height="25">
                                        </span>
                                    </span>
                                    <timer class="m_l-timer">
                                        <%=time%>
                                    </timer>
                                    <span class="left_schedule-team2">
                                        <span class="left_schedule-name2" style="font-size: 14px;">
                                            <img src="<%=match.team2.logo%>" class="logo me-2" alt="<%=slug%>" width="25" height="25">
                                            <%=match.team2.shortName%>
                                        </span> 
                                    </span>
                                </div>
                                <span><i class="fa fa-circle fa-circle1
                                    <%=`begining_${match.stream.status.begining}`%>
                                    <%=`comming_${match.stream.status.comming}`%> " ></i></span>
                                <span><i class="fa fa-circle fa-circle2
                                    <%=`begining_${match.stream.status.begining}`%>
                                    <%=`comming_${match.stream.status.comming}`%> " ></i></span>
                                <span><i class="fa fa-circle fa-circle3 
                                    <%=`begining_${match.stream.status.begining}`%>
                                    <%=`comming_${match.stream.status.comming}`%> " ></i></span>
                                <span><i class="fa fa-circle fa-circle4
                                    <%=`begining_${match.stream.status.begining}`%>
                                    <%=`comming_${match.stream.status.comming}`%> " ></i></span>
                        </a>
                        <%})%>
                    </div>
            </div>
            <!--  -->
            <div class="col-xl-9 middle_right">
                <div class="player-wrap">
                        <% const fullName1 = match.team1.fullName.replace(/ /gi, '-') %>
                        <% const fullName2 = match.team2.fullName.replace(/ /gi, '-') %>
                        <% const slug = `truc-tiep-${fullName1}-vs-${fullName2}` %>
                        <% const convertTime = new Date(match.timer).getTime()%>
                        <% let timer =  new Date(convertTime).toLocaleString() %>
                        <% let date = timer.split(', ')[1] %>
                        <% let time = timer.split(', ')[0].slice(0,5)%>
                    <div class="m_r-videoInfo">
                        <span class="d-flex justify-content-between stream_info-title text-center ">
                            <span class="fw-bolder response_text-infoStream mt-2 ms-3">
                                <i class="fa-solid fa-trophy me-1" style="color:gray"></i>
                                <%=match.league%>
                            </span>
                            <span class="fw-bolder response_text-infoStream mt-2 me-3">
                                <i class="fa-solid fa-microphone me-1" style="color: gray"></i>
                                <%=match.commentator.userId%>
                            </span>
                        </span>
                        <div class="stream_info-content mt-3 mb-0">
                            <div class="d-flex justify-content-evenly">
                                <div style="color:#000" class="d-flex flex-column fw-bolder">
                                    <img src="<%=match.team1.logo%>" class="mb-1 align-self-center logo" alt="<%=slug%>"
                                        width="30" height="30">
                                    <span class="schedule_fullname"><%=match.team1.fullName%></span>
                                </div>
                                <div class="info_stadium d-flex flex-column">
                                    <img src="/img/stadium.png" alt="<%=slug%>" width="25" height="25"
                                        class="align-self-center">
                                    <span class="fw-bolder align-self-center" 
                                        style="font-size:10px ;color:#000; text-decoration: underline;">
                                        <%=match.stadium%>
                                    </span>
                                    <div class="fw-bolder schedule_timer align-self-center" >
                                        <span class="d-flex  mt-2">
                                            <span class="d-flex flex-column mx-1">
                                                <span style="background-color:#963CFF;color:#fff;font-size:14px;width: 26px;" class="schedule_timer-days text-center"></span>
                                                <span style="color:#808080;font-size:9px;" class="align-self-center ">NGÀY</span>
                                            </span>
                                            <span class="d-flex flex-column mx-1">
                                                <span style="background-color:#963CFF;color:#fff;font-size:14px;width: 26px;" class="schedule_timer-hours text-center"></span>
                                                <span style="color:#808080;font-size:9px;" class="align-self-center">GIỜ</span>
                                            </span>
                                            <span class="d-flex flex-column mx-1">
                                                <span style="background-color:#963CFF;color:#fff;font-size:14px;width: 26px;" class="schedule_timer-minutes text-center"></span>
                                                <span style="color:#808080;font-size:9px;" class="align-self-center">PHÚT</span>
                                            </span>
                                            <span class="d-flex flex-column mx-1">
                                                <span style="background-color:#963CFF;color:#fff;font-size:14px;width: 26px;" class="schedule_timer-seconds text-center"></span>
                                                <span style="color:#808080;font-size:9px;" class="align-self-center">GIÂY</span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div style="color:#000" class="d-flex flex-column fw-bolder">
                                    <img src="<%=match.team2.logo%>" class="mb-1 align-self-center logo" alt="<%=slug%>"
                                        width="30" height="30">
                                    <span class="schedule_fullname"><%=match.team2.fullName%></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <div class="m_r-video h-100 mb-4 d-flex justify-content-center">
                        <div id="demoplayer">
                        </div>
                        <div class="video_chat card w-50">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h2 class="card-title text-center d-flex justify-content-between m-0">
                                    <i class=" chat_title-close d-inline-block animate-flicker fa-solid fa-angles-right" style="font-size:17px;color: #963cff;"></i>
                                    <p style="color:#963cff;font-size: 15px;margin:0">TRÒ CHUYỆN</p>
                                    <i class="fa-solid btn_chat-donate fa-sack-dollar" style="font-size:14px;color:#963cff"></i>
                                </h2>
                                <div class="chat_box flex-grow-1">
                                   <a style="font-size:12px;color:#963cff" href="https://www.buymeacoffee.com/xembong365.com">
                                       <p class="text-center">Donate For Website</p>
                                    </a>
                                </div>
                                <form class="chat_form mt-1">
                                    <span class="d-flex justify-content-between">
                                        <input type="text" class="chat_input-name mb-2" style="font-size: 12px;"
                                            onkeydown="getNameLength(this.value)" placeholder="Name.... " required
                                            maxlength="15" style="font-size: 12px;">
                                        <a href="#" class="btn_chat-avt " style="text-decoration: none; color:#000">
                                            <button type="button" class="btn_chat-name d-flex flex-column" data-toggle="tooltip" data-placement="top" title="Thay ảnh đại diện" style="width: 27px;">
                                                <p class="input_chat-maxlength mb-0 align-self-center" style="font-size: 10px;"><span
                                                        class="input_name-length"></span></p>
                                                <i style="color:#963cff" class="fa-solid fa-camera-rotate pb-2 align-self-center"></i>
                                            </button>
                                        </a>
                                    </span>
                                    <span class="d-flex justify-content-between">
                                        <input type="text" class="chat_input-content" style="font-size: 12px;"
                                            onkeydown="getContentLength(this.value)" placeholder="Nói gì đó..." required
                                            maxlength="150" style="font-size: 12px;">
                                        <button type="button" class="btn_chat-content d-flex flex-column" data-toggle="tooltip" data-placement="top" title="Gửi đoạn chat" style="width: 27px;">
                                            <p class="input_chat-maxlength mb-0 align-self-center" style="font-size: 10px;color:#000;"><span
                                                    class="input_content-length"></span></p>
                                            <i style="color:#963cff" class="fa-solid fa-paper-plane align-self-center"></i>
                                        </button>
                                    </span>
                                </form>
                            </div>
                        </div>
                        <i class="chat_title-open animate-flicker d-none mt-2 ms-2 fa-solid fa-angles-left" style="color: #963cff; font-size:15px"></i>
                    </div>
                </div>
                <!--  -->
                <%- include('../partials_view/schedules.html') -%>
                <!--  -->
                <%- include('../partials_view/fixtures.html') -%>
                <!--  -->
                <h1 class="ms-3 my-4 fw-bolder fs-6">Mô Tả</h1>
                <div class="m_r-cast mb-4 mt-0 row mx-5">
                    <div class="r_cast-content">
                        <ul class="my-3">
                            <li>
                                <p>
                                    Link xem <%=match.team1.fullName%> VS <%=match.team2.fullName%>  hôm nay, <%=match.league%>,<%=date%> lúc
                                    <%=time%>.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Link xem trực tuyến <%=match.team1.fullName%> VS <%=match.team2.fullName%>  có bình luận tiếng Việt trên điện thoại,
                                    máy tính, máy tính bảng với chất lượng full HD .
                                </p>
                            </li>
                            <li>
                                <p>
                                    Link xem trực tiếp <%=match.team1.fullName%> VS <%=match.team2.fullName%>  ngon nhất tối nay không die, không giật và
                                    hoàn toàn miễn phí .
                                </p>
                            </li>
                            <li>
                                <p>
                                    Link xem online <%=match.team1.fullName%> VS <%=match.team2.fullName%>  trực tiếp trên K+, VTV6, VTV3HD mới nhất .
                                </p>
                            </li>
                            <li>
                                <p>
                                    Link sopcast <%=match.team1.fullName%> VS <%=match.team2.fullName%>  hôm nay, Link Acestream <%=match.team1.fullName%> VS <%=match.team2.fullName%>  
                                    mới nhất có bình luận tiếng Việt. link xem bóng đá trực tiếp; <%=match.team1.fullName%> VS <%=match.team2.fullName%>
                                    đấu với ; <%=match.team1.fullName%> VS <%=match.team2.fullName%> ; Link xem online <%=match.team1.fullName%> VS <%=match.team2.fullName%> 
                                    ; xem trực tuyến <%=match.team1.fullName%> VS <%=match.team2.fullName%> ; link xem trực tiếp <%=match.team1.fullName%> VS <%=match.team2.fullName%> ; 
                                    link xem trực tiếp bóng đá <%=match.team1.fullName%> VS <%=match.team2.fullName%> ,
                                    <%=match.league%>, ngày <%=date%> lúc <%=time%>.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Trực tiếp kết quả bóng đá <%=match.team1.fullName%> VS <%=match.team2.fullName%>  ngay tại xembong365.com . Link xem
                                    <%=match.team1.fullName%> VS <%=match.team2.fullName%>  sẽ có link sớm trước từ 15 phút đến 1 tiếng.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--  -->
                <%- include('../partials_view/bottom.html') -%>
                <!--  -->
            </div>
        </div>
        <div class="position-fixed bottom-50 end-0" style="z-index: 11">
            <div id="liveToast" class="toast align-items-center" role="alert" data-bs-animation="true" data-bs-autohide="true" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                  <div class="toast-body">
                      <span class="toast-content"></span>
                 </div>
                  <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
              </div>
        </div>
        <!--  -->
        <%- include('../partials_view/footer.html') -%>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/swarmcloud-hls@latest/dist/hls.min.js"></script>
    <!-- JWPlayer Hlsjs Provider -->
    <script src="//cdn.jsdelivr.net/npm/cdnbye@latest/dist/jwplayer.provider.hls.js"></script>
    <!-- JW Player Builds -->
    <script src="//ssl.p.jwpcdn.com/player/v/8.21.2/jwplayer.js"></script>
    <script src="/js_client/validateUser.js"></script>
    <script src="/js_client/retriveDataStream.js"></script>
    <script src="/js_client/socketIo.js"></script>
    <script src="//images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
    <script>
        document.querySelector('.btn_chat-donate').addEventListener('click', () => {
            document.location.replace('https://www.buymeacoffee.com/xembong365.com')
        })
        function getNameLength(e) {
        let length = e.length +1;
        let getNameInputLength = document.querySelector(".input_name-length");
        getNameInputLength.innerHTML = `${length}/15`;
        }
        function getContentLength(e) {
        let length = e.length + 1;
        let getContentInputLength = document.querySelector(".input_content-length");
        getContentInputLength.innerHTML = `${length}/99`;
        }

        const chatBoxCountCharactersLength = () => {
        let getNameInputLength = document.querySelector(".input_name-length");
        let getContentInputLength = document.querySelector(".input_content-length");
        let nameChat = document.querySelector(".chat_input-name").value;
        let lengthnameChat = nameChat.length;
        getNameInputLength.innerHTML = `${lengthnameChat}/15`;
        let contentChat = document.querySelector(".chat_input-content").value;
        let lengthContentChat = contentChat.length;
        getContentInputLength.innerHTML = `${lengthContentChat}/99`;
        };
        const getChatClose = document.querySelector(".chat_title-close");
        getChatClose.addEventListener("click", () => {
        let getMiddleRightVideo = document.querySelector(".m_r-video");
        let getMiddleRightVideoInfo = document.querySelector(".m_r-videoInfo");
        let getMiddleLeft = document.querySelector(".middle_left");
        let getVideoChat = document.querySelector(".video_chat");
        let getJwplayer = document.querySelector("#demoplayer");
        let getIconOpenChat = document.querySelector(".chat_title-open");
        if (getMiddleLeft.classList[3] === undefined) {
            getJwplayer.style.width = "75%";
        } else if (getMiddleLeft.classList[3] === "d-none") {
            getJwplayer.style.width = "60%";
        }
        getVideoChat.classList.add("d-none");
        getIconOpenChat.classList.remove("d-none");
        getJwplayer.classList.add("me-1", "ms-5");
        getIconOpenChat.addEventListener("click", () => {
            if (getMiddleLeft.classList[3] === undefined) {
            getJwplayer.style.width = "100%";
            } else if (getMiddleLeft.classList[3] === "d-none") {
            getJwplayer.style.width = "80%";
            getMiddleRightVideo.classList.add("mx-5");
            getMiddleRightVideoInfo.classList.add("mx-5");
            }
            getIconOpenChat.classList.add("d-none");
            getVideoChat.classList.remove("d-none");
            getJwplayer.classList.remove("me-1", "ms-5");
        });
        });
        const getMiddleLeftClose = document.querySelector(".l_i-close");
        getMiddleLeftClose.addEventListener("click", () => {
        let getMiddleRightVideo = document.querySelector(".m_r-video");
        let getMiddleRightVideoInfo = document.querySelector(".m_r-videoInfo");
        let getVideoChat = document.querySelector(".video_chat");
        let getMiddleLeft = document.querySelector(".middle_left");
        let getMiddleRight = document.querySelector(".middle_right");
        let getJwplayer = document.querySelector("#demoplayer");
        if (getVideoChat.classList[3] === undefined) {
            getJwplayer.style.width = "80%";
            getMiddleRightVideo.classList.add("mx-5");
            getMiddleRightVideoInfo.classList.add("mx-5");
        } else if (getVideoChat.classList[3] === "d-none") {
            getJwplayer.style.width = "55%";
            getMiddleRightVideoInfo.classList.add("mx-5");
        }
        getMiddleLeft.classList.add("d-none");
        getMiddleRight.classList.remove("col-xl-9");
        });

        if (localStorage.getItem("loginStatus_xembong365") === "true") {
        document.querySelector(".chat_input-name").value = localStorage.getItem("userId_xembong365")
        document.querySelector('.btn_chat-avt').setAttribute("href", "http://localhost:3000/user/profile")
        } else {
        document.querySelector('.btn_chat-avt').setAttribute("href", "/login")
        }
        chatBoxCountCharactersLength();
    </script>    
</body>

</html>